# Build results
bin/
obj/
artifacts/
TestResults/
*.log

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# VS working directory
.vs/

# Rider IDE settings
.idea/

# VS Code settings
.vscode/

# ASP.NET Secrets
appsettings.json
secrets.json
appsettings.Development.json
appsettings.Local.json

## Publish output
publish/
wwwroot
wwwroot/dist/
wwwroot/node_modules/

# ReSharper
_ReSharper*/
*.DotSettings.user

# Database local files
*.dbmdl
*.mdf
*.ldf

# Others
*.pidb
*.svclog
*.bak
*.cache
*.nupkg


task-area-d9da1e363915.json
Area.http